.greeting {
    grid-area: g;
}

.greeting h1 {
    font-size: 50px;
}

.greeting div {
    font-size: 60px;
    font-weight: bold;
}

.buttons {
    grid-area: b;
}

.buttons button {
    margin-top: 40px;
    padding: 15px;
    font-size: 17px;
    font-family: sans-serif;
    border: 1px solid #111;
    cursor: pointer;
}

.buttons .file {
    background-color: #090808;
    color: white;
    margin-right: 15px;
}

.mePhoto {
    grid-area: p;
}

.mePhoto .image {
    display: flex;
    position: absolute;
    right: 7%;
    width: 40%;
}

.mePhoto .image img {
    width: 100%;
    box-shadow: 3px 3px 4px #111;
}

.mePhoto .image ul {
    padding: 7px;
    margin: auto;
    list-style: none;
}

.image li {
    margin-bottom: 15px;
}

.mePhoto .image ul a {
    color: #8e8b8b;
    text-decoration: none;
    font-size: larger;
}

.image ul i {
    transform: rotate(90deg);
    transition-duration: 0.3s;
}

.image ul i:hover {
    transform: rotate(0deg);
    transition-duration: 0.3s;
    color: #0e0e0e;
}

.imgBtn {
    position: relative;
}

.arrowsPhotoButton {
    position: absolute;
    top: 50%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imgBtn .arrowsPhotoButton button {
    padding: 0;
    border: 0px;
    background-color: rgba(196, 185, 185, 0.1);
    transition-duration: 0.3s;
    cursor: pointer;
    width: 20%;
    height: 50px;
    font-size: large;
}

.imgBtn .arrowsPhotoButton button:hover {
    background-color: rgba(196, 185, 185, 0.4);
    transition-duration: 0.3s;
    font-size: x-large;
}

.imgBtn .arrowsPhotoButton i {
    color: rgba(253, 252, 252, 0.5);
}


.helloPage {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas:
    "g p"
    "b p"
    "b p"
}